/* reset.css */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
ol,
ul,
li,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: #000;
}

/* change border color to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* style.css */
html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Fira Sans', serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
*,
*:after,
:before {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}
/* .header {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
} */
.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}
.button-input {
  width: 235px;
  height: 40px;
  font-size: 20px;
  border: 4px solid #9ccbff;
  border-radius: 7px;
  background-color: #ebf9ff;
  color: cornflowerblue;
}
.button-input:focus-visible {
  outline-offset: 0px;
}
.button-input::placeholder {
  color: cornflowerblue;
}
.button-search {
  height: 40px;
  width: 90px;
  font-size: 20px;
  border: 4px solid #9ccbff;
  border-radius: 7px;
  background-color: #aeb0f2;
  color: #fff;
}
.button-current-location {
  height: 40px;
  width: 90px;
  font-size: 20px;
  border: 4px solid #9ccbff;
  border-radius: 7px;
  background-color: #aeb0f2;
  color: #fff;
}
.button-search:hover,
.button-current-location:hover {
  background-color: #a5f4fc;
}
.main__box {
  text-align: center;
}
.main__temp-box {
  margin-top: 20px;
}
.fahrenheit-link,
.celsius-link {
  display: inline-block;
  color: #fff;
  width: 35px;
  font-weight: 700;
  line-height: 0.8;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #d0d0d0;
}
.fahrenheit-link.active,
.celsius-link.active {
  background-color: rgb(5 92 157 / 70%);
}

.celsius-link {
  margin-left: 2px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}
.header__title {
  color: cornflowerblue;
  font-size: 30px;
  text-transform: uppercase;
  max-width: 318px;
  text-shadow: 5px 1px 2px #ffffff, 0 0 1em #0083ff, 0 0 0.2em #b7b7ff;
}
.main__content {
  margin-top: 35px;
  padding: 20px;
  background-image: url('../images/IMG_9229.jpeg');
  height: 555px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 15px;
  margin-bottom: 20px;
}
.main__current-right-box {
  display: flex;
  align-self: center;
  padding: 10px;
  /* background: #0250dd33; */
  border-radius: 5px;
  margin-top: 10px;
  /* max-width: 190px; */
  font-size: 23px;
}
.main__current-left-box {
  max-width: 190px;
}
.main__current-city {
  display: flex;
  justify-content: space-evenly;
  height: 238px;
}
.main__current-forecast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
}
.main__current-img {
  width: 85px;
}
.main__current-title {
  /* margin-top: 15px; */
  text-transform: capitalize;
  line-height: 1.2;
  /* font-size: 28px; */
}
.main__current-temp-box {
  display: inline-block;
}
.main__current-temp {
  width: 40px;
  text-align: right;
  margin-top: 15px;
  font-weight: 700;
  font-size: 40px;
  display: inline-block;
  padding-top: -8px;
  vertical-align: sub;
}
.main__current-humidity,
.main__current-wind {
  margin-left: 45px;
  background-color: #0250dd33;
  padding: 10px;
  border-radius: 15px;
}
.main__current-date {
  background-color: #0250dd33;
  padding: 10px;
  border-radius: 15px;
}

ul {
  list-style-type: none;
}
.main__day-box {
  display: flex;
  justify-content: space-evenly;
}

.main__time-box {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
#time-format {
  font-size: 12px;
}
.main__week-items {
  display: flex;
  justify-content: space-evenly;
}

.main__day-forecast {
  font-weight: 700;
  max-width: 440px;
  text-align: center;
  margin: 20px auto 0;
}
.main__city {
  background-color: rgb(255 255 255 / 20%);
  width: 220px;
  font-size: 28px;
  margin: 0 auto;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}
.main__day-img {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70px;
}
.main__day-time {
  font-size: 22px;
}
.main__day-temp {
  display: inline-block;
  font-size: 28px;
  margin-left: 10px;
}
.main__day-box span {
  font-size: 28px;
}
.main__week-forecast {
  margin-top: 60px;
}
.main__week-item {
  background-color: rgb(255 255 255 / 30%);
  padding: 10px;
  border-radius: 7px;
  max-width: 101px;
}
.main__week-item span {
  font-size: 24px;
}
.main__week-day {
  font-size: 26px;
}
.main__week-img {
  width: 60px;
  margin-top: 5px;
}
.main__week-max-temp {
  margin-top: 5px;
  font-weight: 700;
}
.main__week-max-deg {
  font-weight: 700;
}
.main__week-min-temp {
  font-weight: 400;
  margin-left: 5px;
}
.footer {
  margin-bottom: 15px;
}
.footer__repository {
}
.footer__link {
  font-size: 20px;
  font-weight: 700;
  color: grey;
  border: 1px solid #dfdfdf;
  padding: 9px;
  border-radius: 20px;
  background-color: #ebe9e6;
  display: inline-block;
}
.footer__link:hover {
  box-shadow: cadetblue;
  box-shadow: rgb(37 39 89 / 30%) 7px 4px 8px 0;
  color: #fff;
  transition: all ease-in 0.2s;
  background-color: #cacaca;
}

@media (max-width: 880px) {
  .header__content {
    justify-content: space-evenly;
  }
  .main__current-city {
    justify-content: space-evenly;
    align-items: center;
  }
  .main__day-box {
    flex-direction: column;
    margin-top: 10px;
  }
  .main__day-box li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main__day-temp {
    font-size: 25px;
  }
  .main__day-img {
    width: 40px;
    margin: 0px;
  }
  .main__day-forecast {
    max-width: 180px;
    margin-top: 0px;
  }
  .main__current-title {
    font-size: 23px;
  }
  .main__day-time {
    width: 60px;
    margin-right: 10px;
    font-size: 20px;
  }
  .main__current-temp {
    margin-top: 0;
    font-size: 30px;
  }
  .main__current-left-box {
    margin-right: 10px;
  }
  .main__current-img {
    width: 67px;
  }
  .fahrenheit-link,
  .celsius-link {
    font-size: 20px;
  }
  .main__temp-box {
    margin-top: 10px;
  }
  .main__week-day {
    font-size: 20px;
  }
  .main__week-item:first-child {
    margin-left: 5px;
  }
  .main__week-item span {
    font-size: 20px;
  }
  .main__week-img {
    width: 45px;
  }
  .main__week-item {
    margin-right: 5px;
    max-width: 75px;
  }
  .main__content {
    height: 500px;
  }
  .header__search-form {
    max-width: 235px;
  }
  .button-input {
    margin-bottom: 10px;
  }
  .main__current-temp-box {
    display: block;
  }
}
@media (max-width: 590px) {
  .main__week-item {
    max-width: 45px;
  }
  .main__week-img {
    width: 25px;
  }
  .main__week-day {
    font-size: 17px;
  }
  .main__week-item {
    padding: 5px;
  }
  .main__day-time {
    font-size: 13px;
    width: 38px;
  }
  .main__day-forecast {
    max-width: 115px;
  }
  .main__day-temp {
    font-size: 15px;
  }
  .main__day-box {
    flex-direction: row;
  }
  .main__day-box li {
    flex-direction: column;
  }
  .main__day-box span {
    font-size: 19px;
  }
  .main__day-img {
    width: 35px;
  }
  .main__current-right-box {
    font-size: 20px;
    max-width: 170px;
    text-align: left;
  }
  .main__current-left-box {
    max-width: 80px;
  }
  .main__current-img {
    width: 55px;
  }
  .main__current-title {
    font-size: 20px;
  }
  .main__current-humidity {
    margin-top: 7px;
  }
  .main__content {
    max-width: 330px;
    height: 510px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px;
  }
  .header__content {
    flex-direction: column;
    margin-top: 23px;
    margin-bottom: 20px;
  }
  .header__title {
    margin-bottom: 10px;
  }
  .button-search,
  .button-current-location {
    width: 100px;
  }
  .fahrenheit-link,
  .celsius-link {
    width: 28px;
  }
}
